# Ignore virtual environment
env/

# Ignore database
db.sqlite3

# Ignore static and media files
staticfiles/
media/

# Ignore secret settings file
secret_settings.py

# Ignore environment-specific settings
.env

# Ignore local development settings
settings_local.py

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore logs
logs/
